<div class="row">

  <div class="col-4"></div>

  <div class="card text-center col-4">
    <div class="card-header">
      Login
    </div>
    <div class="card-body">
      <form [formGroup]="loginForm" class="form mt-4">

        <div class="form-group">
          <input formControlName="userName" class="form-control" placeholder="user name" autofocus>
          <small *ngIf="loginForm.get('userName').errors?.required" class="text-danger d-block mt-2">
            Digite um email !
          </small>
          <small *ngIf="loginForm.get('userName').errors?.email" class="text-danger d-block mt-2">
              Digite um email válido!
            </small>

        </div>

        <div class="form-group">
          <input formControlName="password" type="password" class="form-control" placeholder="password">
          <small *ngIf="loginForm.get('password').errors?.required" class="text-danger d-block mt-2">
            Digite uma senha !
          </small>
        </div>

        <button [disabled]="loginForm.invalid" type="submit" class="btn">login</button>

      </form>
    </div>
    <div class="card-footer text-muted">
      <p>Not a user?<a>Register now</a></p>
    </div>
  </div>
  <div class="col-4"></div>
</div>
